#logo {
    width:3em;
    height: auto;
}

/*--------------- NAVBAR ---------------------------------------------------*/


#nav-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    background-color: #2e3815;
    height: 5em;
    padding: 3%;
}

.navbar-menu {
    width: 100%;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0 1%;
    height: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}

nav ul li {
    text-decoration: none;
    color: rgb(198, 216, 203);
    min-width: fit-content;
}

/*------------------------------------------------------------------*/

header {
    width: 100%;
    background-color: #a1665e;
    padding: 5% 0;
    text-align: center;
    font-size: 20px;
    color: white;
    font-family: 'Gill Sans MT', sans-serif;
  }

body {
    padding: 0 12% 5% 12%; 
    font-family: 'Gill Sans MT', sans-serif;
    color: #503335;
    background-color: #e4dacd;
    text-align: justify;
}

p {
    font-family: 'Gill Sans MT', sans-serif;
}

h3 {
    font-family: 'Gill Sans MT', sans-serif;
}

h4 {
    font-family: 'Gill Sans MT', sans-serif;
}

.lista {
    padding: 4%;
    background-color: #a1665e;
    color: #e4dacd;
}

a.link-menu {
    color:#e4dacd;
    text-decoration: none;
}

a.link-menu:active {
    color:#d68d84;
    text-decoration: none;
}

a.link-menu:hover {
    color:#da503e;
    text-decoration: none;
}

footer {
    margin: 20% 10%;
    color: #a1665e;
    display: flex;
    flex-direction: column;   
}

div#info {
    text-align: center;
}

div#rrss {
    display: flex;
    padding: 0 20%;
    flex-direction: row;
    justify-content: center;
}

iframe {
    margin: auto;
    display: block;
}
